.App {
  overflow: hidden;
  color:#242d49;
  background:#f3f3f3;
  padding:1rem 1rem;

  
}

.blur{
  position:absolute;
  width:22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter:blur(72px)
}

.button{
  display: flex;
  align-items:center;
  justify-content:center; 
  border: none;
  border-radius: 0.5rem;
  background: rgb(255, 153, 0);
  transition: 100ms ease-out;
  color:#f3f3f3
}

.button:hover{
  cursor: pointer;
  color: orange;
  background: transparent;
  border: 2px solid orange;
}

::-webkit-scrollbar{
  display: none;
}